log
0nbbfey.pdf
2nbb_post.pdf
2nbbfey.pdf
aof.pdf
bi.pdf
bkgdec1_1_BEGe.pdf
bkgdec1_1_COAX.pdf
bkgdec1_2_BEGe.pdf
bkgdec1_2_COAX.pdf
bkgdec1_3_BEGe.pdf
bkgdec1_3_COAX.pdf
bkgdec2_1_BEGe.pdf
bkgdec2_1_COAX.pdf
bkgdec2_2_BEGe.pdf
bkgdec2_2_COAX.pdf
bkgdec3_1_BEGe.pdf
bkgdec3_1_COAX.pdf
bkgdec_ROI_BEGe.pdf
bkgdec_ROI_COAX.pdf
data.pdf
detectors.pdf
energyspectra.pdf
final.pdf
levelsGe76.pdf
masspar.pdf
rescurves.pdf
sim.pdf
sim2.pdf
